{% extends "otree/Page.html" %}
{% load otree static %}


{% block global_styles  %}
<h1>Period {{subsession.round_number}}</h1>
<hr>
<div>
    <table class = "table">
        <tr>
            <th>Average Dividend this period</th>
            <th>Average Total Dividend</th>
            <th>Periods remaining</th>
        </tr>
    </table>

</div>
<div class = "container-fluid">
  <div class = "row">
    <div class="col">
<table id="history_bid" class="table">
    <thead>
    <tr>
        <td colspan = "2">Recent Bids</td>
    </tr>
    </thead>
  <tr>
    <th>Player</th>
    <th>Bid</th>
  </tr>
</table>
Price:<input id="bid_box" type="number">
<button type="button" id="bid_button">Send</button>
    </div>
<div class="col-lg">
<table id="history" class="table">
  <tr>
    <th>Recent Transactions</th>
  </tr>

</table>
    </div>
    <div class="col-lg">
<table id="history_ask" class="table">
    <thead>
    <tr>
        <td colspan = "2">Recent Asks</td>
    </tr>
    </thead>
  <tr>
    <th>Player</th>
    <th>Ask</th>
  </tr>
</table>
Price: <input id="ask_box" type="number">
<button type="button" id="ask_button">Send</button>
    </div>
  </div>
</div>

{% endblock %}

{% block global_scripts  %}
<script>

    let history_bid = document.getElementById('history_bid');
    let bid_box = document.getElementById('bid_box');
    let bid_button = document.getElementById('bid_button');

    let history_ask = document.getElementById('history_ask');
    let ask_box = document.getElementById('ask_box');
    let ask_button = document.getElementById('ask_button');

    function liveRecv(data) {
        history_bid.innerHTML += '<tr><td>' + data.id_in_group + '</td><td>' + data.value + '</td></tr>';
        history_ask.innerHTML += '<tr><td>' + data.id_in_group + '</td><td>' + data.value + '</td></tr>';
    }

    bid_button.onclick = function () {
        liveSend({'value': parseInt(bid_box.value), 'type': "bid"});
    };

    ask_button.onclick = function () {
        liveSend({'value': parseInt(ask_box.value), 'type': "ask"});
    };

    ask_button.onclick = function () {
        liveSend({'value': parseInt(ask_box.value), 'type': "ask"});
    };

</script>
{% endblock %}