{% extends "otree/Page.html" %}
{% load otree static %}


{% block global_styles  %}
<h1>Period {{subsession.round_number}}</h1>
<hr>
<div>
    <table class = "table">
        <tr>
            <th>Average Dividend this period</th>
            <th>Average Total Dividend</th>
            <th>Periods remaining</th>
        </tr>
    </table>
</div>

<div class = "container-fluid">
  <div class = "row">
    <div class="col">
<table id="history_bid" class="table">
    <thead>
    <tr>
        <td colspan = "2"><h5>Recent Bids</h5></td>
    </tr>
    </thead>
  <tr>
    <th>Player</th>
    <th>Bid</th>
  </tr>
</table>
Price: <input id="bid_box" type="number">
<button type="button" id="bid_button" class="btn btn-primary">Submit Buy Price</button>
<input id="buy_bid" type="hidden" type = "number">
<button type="button" id="buy_bid_button" class="btn btn-success btn-block">Buy Asset at </button>
    </div>

<div class="col-lg">
<table id="history" class="table">
  <tr>
    <th><h5>Recent Transactions Prices</h5></th>
  </tr>
</table>
</div>

<div class="col-lg">
<table id="history_ask" class="table">
    <thead>
    <tr>
        <td colspan = "2"><h5>Recent Asks</h5></td>
    </tr>
    </thead>
  <tr>
    <th>Player</th>
    <th>Ask</th>
  </tr>
</table>
Price: <input id="ask_box" type="number">
<button type="button" id="ask_button" class="btn btn-primary">Submit Ask price</button>

    <input id="sell_asset" type="hidden" type = "number">
<button type="button" id="sell_ask_button" class="btn btn-success btn-block">Sell Asset at </button>
    </div>
  </div>
<div class = "row">
    <div class = "col">

    </div>
    <div class = "col">
    <table id = "information" class = "table">
        <tr>
            <th><h5>Your Cash:</h5></th>
            <th> money </th>
        </tr>

        <tr>
            <th><h5>Number of Assets:</h5></th>
            <th> assets </th>
        </tr>
    </table>
    </div>
    <div class = "col">

    </div>
</div>
</div>

{% endblock %}

{% block global_scripts  %}
<script>

    let history_bid = document.getElementById('history_bid');
    let bid_box = document.getElementById('bid_box');
    let bid_button = document.getElementById('bid_button');

    let history_ask = document.getElementById('history_ask');
    let ask_box = document.getElementById('ask_box');
    let ask_button = document.getElementById('ask_button');

    let history = document.getElementById('history');
    let sell_asset = document.getElementById('bid_box');
    //let ask_button = document.getElementById('ask_button');

    function liveRecv(data) {
        if (data.type == "bid"){
            history_bid.innerHTML += '<tr><td>' + data.id_in_group + '</td><td>' + data.value + '</td></tr>';
            document.getElementById("sell_ask_button").innerHTML = 'Sell Asset at: ' + data.value
        } else if (data.type == "ask"){
            history_ask.innerHTML += '<tr><td>' + data.id_in_group + '</td><td>' + data.value + '</td></tr>';
            document.getElementById("buy_bid_button").innerHTML = 'Buy Asset at: ' + data.value;
        } else {
            history_bid.innterHTML += ""
            history.innerHTML += data.value + '</td></tr>';
            // document.getElementById('sell_ask').value = data.value;
        }
    }

    bid_button.onclick = function () {
        liveSend({'value': parseInt(bid_box.value), 'type': "bid"});
    };

    ask_button.onclick = function () {
        liveSend({'value': parseInt(ask_box.value), 'type': "ask"});
    };

    sell_ask_button.onclick = function () {
        liveSend({'value': parseInt(history_bid.value), 'type': "contract"});
    };

</script>
{% endblock %}